li a.nav-link:hover {
    background-color: steelblue;
    color: ghostwhite;
}


li a.nav-link.active {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom: steelblue;
    border-style: solid;
}

a.dropdown-item.active {
    background-color: steelblue;
}