.hideChildren>div{
    display: none;
 }

 div.card>button {
    text-align: start;
    background-color: #d1d1d1;
    color: steelblue;
    font-weight: bold;
    border-style: none;
 }

 .hidden {
    display: none;
 }

 .toggle-btn {
    min-width: 50px;
    min-height: 30px;
    background-color: gray;
    border-style: none;
    border-radius: 2px;
    transition: all 200ms ease-in-out;
 }

 .toggle-btn>.inner-square {
   width: 20px;
   height: 22px;
   background-color: #fff;
   border-radius: 2px;
   transition: all 200ms ease-in-out;
 }

 .toggle-btn.clk {
    background-color:mediumseagreen;
 }

 .toggle-btn.clk > .inner-square {
    margin-left: 18px;
 }