.hideChildren>div{
    display: none;
 }

 div.card>button {
    text-align: start;
    background-color: #d1d1d1;
    color: steelblue;
    font-weight: bold;
    border-style: none;
 }

 .hidden {
    display: none;
 }