<!-- <div class="container">
    <h2 class="text-center m-3"> Dashboard </h2>
    <div class="row m-3 p-5">
        <input type="text" class="form-control" name="name" [(ngModel)]="name" (ngModelChange)="search()" placeholder="Enter Employee name to search">
    </div>
    
    <div class="row">
        <ul class="list-group list-group-horizontal col">
            <li class="list-group-item flex-fill col-4 align-self-center active">ID</li>
            <li class="list-group-item flex-fill col-4 align-self-center active">Name</li>
            <li class="list-group-item flex-fill col-4 align-self-center active">Age</li>
        </ul>
    </div>
    
     
    <div class="row" *ngFor="let e of emp">
        
            <ul class="list-group list-group-horizontal col">
                <li class="list-group-item flex-fill col-4 align-self-center">{{ e.id }}</li>
                <li class="list-group-item flex-fill col-4 align-self-center">{{ e.name }}</li>
                <li class="list-group-item flex-fill col-4 align-self-center">{{ e.age }}</li>
                
            </ul>
            
        
    </div>
</div>
 -->

<div class="container">
    <div class="row">
        <div class="col-md-2 mt-3 align-self-start">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#empcollapse" role="button" aria-expanded="false" aria-controls="empcollapse">View Employees</a>
                <div class="collapse" id="empcollapse">
                    <div class="card card-body">
                        <div class="btn-group-vertical" role="group" >
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="collapse" href="#empbody" role="button" aria-expanded="false" aria-controls="empbody">By Name</button>
                            <button type="button" class="btn btn-outline-primary">By Id</button>
                            <button type="button" class="btn btn-outline-primary">By Location</button>
                        </div>
                    </div>
                  </div>
                <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#countrycollapse" role="button" aria-expanded="false" aria-controls="countrycollapse">View Countries</a>
                <div class="collapse" id="countrycollapse">
                    <div class="card card-body">
                        <div class="btn-group-vertical" role="group" >
                            <button type="button" class="btn btn-outline-primary">By Name</button>
                            <button type="button" class="btn btn-outline-primary">By Id</button>
                            <button type="button" class="btn btn-outline-primary">By Terrain</button>
                        </div>
                    </div>
                  </div>
                <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#companycollapse" role="button" aria-expanded="false" aria-controls="companycollapse">View Companies</a>
                <div class="collapse" id="companycollapse">
                    <div class="card card-body">
                        <div class="btn-group-vertical" role="group" >
                            <button type="button" class="btn btn-outline-primary">By Name</button>
                            <button type="button" class="btn btn-outline-primary">By Id</button>
                            <button type="button" class="btn btn-outline-primary">By Product</button>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
        <div class="col mt-3">
            <div class="collapse" id="empbody" >
                
                    <div class="btn-group" role="group"  *ngFor="let e of emp">
                        <button type="button" class="btn btn-secondary m-1" (click)="showEmployee(e)">{{ e.name }}</button> 
                    </div>
                    <div class="card card-body" *ngIf="detail">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead style="background-color: steelblue; color: white;">
                                    <tr>
                                      <th scope="col">ID</th>
                                      <th scope="col">Age</th>
                                      <th scope="col">Geography</th>
                                      <th scope="col">Location</th>
                                      <th scope="col">Branch</th>
                                      <th scope="col">Project</th>
                                      <th scope="col">Department</th>
                                      <th scope="col">Grade</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <th scope="row">{{ detail.id }}</th>
                                          <td>{{ detail.age }}</td>
                                          <td>{{ detail.geography }}</td>
                                          <td>{{ detail.location }}</td>
                                          <td>{{ detail.branch }}</td>
                                          <td>{{ detail.project }}</td>
                                          <td>{{ detail.department }}</td>
                                          <td>{{ detail.grade }}</td>
                                          <td><button class="btn btn-sm btn-outline-dark rm1" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="far fa-edit"></i></button></td>
                                      </tr>
                                  </tbody>
                            </table>
                        </div>
                    </div>
                
              </div>
              <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="row p-3 m-3 border border-2">
                                <div class="col-auto">
                                    <input type="number" placeholder="Employee Id" class="form-control form-control-number" #eId>
                                </div>
                                <div class="col-auto">
                                    <input type="number" placeholder="Employee Age" class="form-control form-control-number" #eAge>
                                </div>
                                <div class="col-auto">
                                    <input type="text" placeholder="Geography" class="form-control" #eGeo>
                                </div>
                                <div class="col-auto">
                                    <input type="text" placeholder="Location" class="form-control" #eLoc>
                                </div>
                                <div class="col-auto">
                                    <input type="text" placeholder="Branch" class="form-control" #eBr>
                                </div>
                                <div class="col-auto">
                                    <input type="text" placeholder="Project" class="form-control" #ePr>
                                </div>
                                <div class="col-auto">
                                    <input type="text" placeholder="Department" class="form-control" #eDpt>
                                </div>
                                <div class="col-auto">
                                    <input type="text" placeholder="Grade" class="form-control" #eGr>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>
    
