
<div class="container">
    <div class="row">
        <div class="col-md-2 mt-3 align-self-start">
            <div class="list-group">
                <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#empcollapse" role="button" aria-expanded="false" aria-controls="empcollapse">View Employees</a>
                <div class="collapse" id="empcollapse">
                    <div class="card card-body">
                        <div class="btn-group-vertical" role="group" >
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#empByName" role="button" aria-expanded="false" aria-controls="empByName" (click)="toggleDiv('empByName')">By Name</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#empById" role="button" aria-expanded="false" aria-controls="empById" (click)="toggleDiv('empById')">By Id</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#empByLoc" role="button" aria-expanded="false" aria-controls="empByLoc" (click)="toggleDiv('empByLoc')">By Location</button>
                        </div>
                    </div>
                  </div>
                <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#countrycollapse" role="button" aria-expanded="false" aria-controls="countrycollapse">View Countries</a>
                <div class="collapse" id="countrycollapse">
                    <div class="card card-body">
                        <div class="btn-group-vertical" role="group" >
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#cntByName" role="button" aria-expanded="false" aria-controls="cntByName" (click)="toggleDiv('cntByName')">By Name</button>
                            <button type="button" class="btn btn-outline-secondary"data-bs-toggle="collapse" href="#cntByTerrain" role="button" aria-expanded="false" aria-controls="cntByTerrain" (click)="toggleDiv('cntByTerrain')">By Terrain</button>
                        </div>
                    </div>
                  </div>
                <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" href="#companycollapse" role="button" aria-expanded="false" aria-controls="companycollapse">View Companies</a>
                <div class="collapse" id="companycollapse">
                    <div class="card card-body">
                        <div class="btn-group-vertical" role="group" >
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#comByName" role="button" aria-expanded="false" aria-controls="comByName" (click)="toggleDiv('comByName')">By Name</button>
                            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" href="#comByProd" role="button" aria-expanded="false" aria-controls="comByProd" (click)="toggleDiv('comByProd')">By Product</button>
                        </div>
                    </div>
                  </div>
              </div>
        </div>
        
        <div class="col">
            <!-- search by employee name -->
            <div class="row">
                <div class="collapse  mt-3" id="empByName" >            
                       <div class="card card-body" *ngFor="let e of emp; index as i; first as isFirst">
                            <button type="button" class="btn btn-secondary m-1" data-bs-toggle="collapse" [attr.href]="'#'+'ename'+i" role="button" aria-expanded="false" [attr.aria-controls]="'ename' + i" (click)="showEmployee(e)" >{{ e.name }}</button>
                            <div class="table-responsive collapse" [id]="'ename'+i">
                                <table class="table table-bordered">
                                    <thead style="background-color: steelblue; color: white;">
                                        <tr>
                                          <th scope="col">ID</th>
                                          <th scope="col">Age</th>
                                          <th scope="col">Geography</th>
                                          <th scope="col">Location</th>
                                          <th scope="col">Branch</th>
                                          <th scope="col">Project</th>
                                          <th scope="col">Department</th>
                                          <th scope="col">Grade</th>
                                          <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">{{ e.id }}</th>
                                              <td>{{ e.age }}</td>
                                              <td>{{ e.geography }}</td>
                                              <td>{{ e.location }}</td>
                                              <td>{{ e.branch }}</td>
                                              <td>{{ e.project }}</td>
                                              <td>{{ e.department }}</td>
                                              <td>{{ e.grade }}</td>
                                              <td><button class="btn btn-sm btn-outline-dark rm1" data-bs-toggle="modal" data-bs-target="#nameModal"><i class="far fa-edit"></i></button></td>
                                          </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>   
    
                  </div>
    
                  <!-- Modal -->
                    <div class="modal fade" id="nameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row p-3 m-3 border border-2">
                                    <div class="col-auto m-1">
                                        <label for="id">Employee Id</label>
                                        <input type="number" placeholder="Employee Id" class="form-control form-control-number" name="id" [(ngModel)]="detail.id" #eId>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="age">Employee Age</label>
                                        <input type="number" placeholder="Employee Age" class="form-control form-control-number" name="age" [(ngModel)]="detail.age" #eAge>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="geography">Employee Geography</label>
                                        <input type="text" placeholder="Geography" class="form-control" name="geography" [(ngModel)]="detail.geography" #eGeo>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="location">Employee Location</label>
                                        <input type="text" placeholder="Location" class="form-control" name="location" [(ngModel)]="detail.location" #eLoc>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="branch">Employee Branch</label>
                                        <input type="text" placeholder="Branch" class="form-control" name="branch" [(ngModel)]="detail.branch" #eBr>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="project">Employee Project</label>
                                        <input type="text" placeholder="Project" class="form-control" name="project" [(ngModel)]="detail.project" #ePr>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="department">Employee Department</label>
                                        <input type="text" placeholder="Department" class="form-control" name="department" [(ngModel)]="detail.department" #eDpt>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="grade">Employee Grade</label>
                                        <input type="text" placeholder="Grade" class="form-control" name="grade" [(ngModel)]="detail.grade" #eGr>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateEmp({ id: eId.value, age: eAge.value, geography: eGeo.value, location: eLoc.value, branch: eBr.value, project: ePr.value, department: eDpt.value, grade: eGr.value})">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    
            </div>
            <!-- search by employee name -->

            <!-- search by employee ID -->
            <div class="row">
                <div class="collapse  mt-3" id="empById" >            
                       <div class="card card-body" *ngFor="let e of emp; index as i; first as isFirst">
                            <button type="button" class="btn btn-secondary m-1" data-bs-toggle="collapse" [attr.href]="'#'+'eId'+i" role="button" aria-expanded="false" [attr.aria-controls]="'eId' + i" (click)="showEmployee(e)" >{{ e.id }}</button>
                            <div class="table-responsive collapse" [id]="'eId'+i">
                                <table class="table table-bordered">
                                    <thead style="background-color: steelblue; color: white;">
                                        <tr>
                                          <th scope="col">Name</th>
                                          <th scope="col">Age</th>
                                          <th scope="col">Geography</th>
                                          <th scope="col">Location</th>
                                          <th scope="col">Branch</th>
                                          <th scope="col">Project</th>
                                          <th scope="col">Department</th>
                                          <th scope="col">Grade</th>
                                          <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">{{ e.name }}</th>
                                              <td>{{ e.age }}</td>
                                              <td>{{ e.geography }}</td>
                                              <td>{{ e.location }}</td>
                                              <td>{{ e.branch }}</td>
                                              <td>{{ e.project }}</td>
                                              <td>{{ e.department }}</td>
                                              <td>{{ e.grade }}</td>
                                              <td><button class="btn btn-sm btn-outline-dark rm1" data-bs-toggle="modal" data-bs-target="#idModal"><i class="far fa-edit"></i></button></td>
                                          </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>   
    
                  </div>
    
                  <!-- Modal -->
                    <div class="modal fade" id="idModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row p-3 m-3 border border-2">
                                    <div class="col-auto m-1">
                                        <label for="name">Employee Name</label>
                                        <input type="text" placeholder="Employee Id" class="form-control" name="name" [(ngModel)]="detail.name" #eName>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="age">Employee Age</label>
                                        <input type="number" placeholder="Employee Age" class="form-control form-control-number" name="age" [(ngModel)]="detail.age" #eAge>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="geography">Employee Geography</label>
                                        <input type="text" placeholder="Geography" class="form-control" name="geography" [(ngModel)]="detail.geography" #eGeo>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="location">Employee Location</label>
                                        <input type="text" placeholder="Location" class="form-control" name="location" [(ngModel)]="detail.location" #eLoc>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="branch">Employee Branch</label>
                                        <input type="text" placeholder="Branch" class="form-control" name="branch" [(ngModel)]="detail.branch" #eBr>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="project">Employee Project</label>
                                        <input type="text" placeholder="Project" class="form-control" name="project" [(ngModel)]="detail.project" #ePr>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="department">Employee Department</label>
                                        <input type="text" placeholder="Department" class="form-control" name="department" [(ngModel)]="detail.department" #eDpt>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="grade">Employee Grade</label>
                                        <input type="text" placeholder="Grade" class="form-control" name="grade" [(ngModel)]="detail.grade" #eGr>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateEmpById({id: '', name: eName.value, age: eAge.value, geography: eGeo.value, location: eLoc.value, branch: eBr.value, project: ePr.value, department: eDpt.value, grade: eGr.value})">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    
            </div>
            <!-- search by employee ID -->

            <!-- search by employee Location -->
            <div class="row">
                <div class="collapse  mt-3" id="empByLoc" >            
                       <div class="card card-body" *ngFor="let e of emp; index as i; first as isFirst">
                            <button type="button" class="btn btn-secondary m-1" data-bs-toggle="collapse" [attr.href]="'#'+'eLoc'+i" role="button" aria-expanded="false" [attr.aria-controls]="'eLoc' + i" (click)="showEmployee(e)" >{{ e.location }}</button>
                            <div class="table-responsive collapse" [id]="'eLoc'+i">
                                <table class="table table-bordered">
                                    <thead style="background-color: steelblue; color: white;">
                                        <tr>
                                          <th scope="col">Id</th>  
                                          <th scope="col">Name</th>
                                          <th scope="col">Age</th>
                                          <th scope="col">Geography</th>
                                          <th scope="col">Branch</th>
                                          <th scope="col">Project</th>
                                          <th scope="col">Department</th>
                                          <th scope="col">Grade</th>
                                          <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">{{ e.id }}</th>
                                              <td>{{ e.name }}</td>
                                              <td>{{ e.age }}</td>
                                              <td>{{ e.geography }}</td>
                                              <td>{{ e.branch }}</td>
                                              <td>{{ e.project }}</td>
                                              <td>{{ e.department }}</td>
                                              <td>{{ e.grade }}</td>
                                              <td><button class="btn btn-sm btn-outline-dark rm1" data-bs-toggle="modal" data-bs-target="#locModal"><i class="far fa-edit"></i></button></td>
                                          </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>   
    
                  </div>
    
                  <!-- Modal -->
                    <div class="modal fade" id="locModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row p-3 m-3 border border-2">
                                    <div class="col-auto m-1">
                                        <label for="id">Employee Id</label>
                                        <input type="number" placeholder="Employee Id" class="form-control form-control-number" name="id" [(ngModel)]="detail.id" #eId>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="name">Employee Name</label>
                                        <input type="text" placeholder="Employee name" class="form-control" name="name" [(ngModel)]="detail.name" #eName>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="age">Employee Age</label>
                                        <input type="number" placeholder="Employee Age" class="form-control form-control-number" name="age" [(ngModel)]="detail.age" #eAge>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="geography">Employee Geography</label>
                                        <input type="text" placeholder="Geography" class="form-control" name="geography" [(ngModel)]="detail.geography" #eGeo>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="branch">Employee Branch</label>
                                        <input type="text" placeholder="Branch" class="form-control" name="branch" [(ngModel)]="detail.branch" #eBr>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="project">Employee Project</label>
                                        <input type="text" placeholder="Project" class="form-control" name="project" [(ngModel)]="detail.project" #ePr>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="department">Employee Department</label>
                                        <input type="text" placeholder="Department" class="form-control" name="department" [(ngModel)]="detail.department" #eDpt>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="grade">Employee Grade</label>
                                        <input type="text" placeholder="Grade" class="form-control" name="grade" [(ngModel)]="detail.grade" #eGr>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateEmpById({id: eId.value, name: eName.value, age: eAge.value, geography: eGeo.value, location: '', branch: eBr.value, project: ePr.value, department: eDpt.value, grade: eGr.value})">Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    
            </div>
            <!-- search by employee Location -->

            <!-- search by country name -->
            <div class="row">
                <div class="collapse  mt-3" id="cntByName" >            
                       <div class="card card-body" *ngFor="let e of country; index as i; first as isFirst">
                            <button type="button" class="btn btn-secondary m-1" data-bs-toggle="collapse" [attr.href]="'#'+'cname'+i" role="button" aria-expanded="false" [attr.aria-controls]="'cname' + i" (click)="showCountry(e)" >{{ e.name }}</button>
                            <div class="table-responsive collapse" [id]="'cname'+i">
                                <table class="table table-bordered">
                                    <thead style="background-color: steelblue; color: white;">
                                        <tr>
                                          <th scope="col">ID</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Capital</th>
                                          <th scope="col">Continent</th>
                                          <th scope="col">Government</th>
                                          <th scope="col">Population>
                                          <th scope="col">Currency</th>
                                          <th scope="col">Terrain</th>
                                          <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">{{ e.id }}</th>
                                              <td>{{ e.name }}</td>
                                              <td>{{ e.capital }}</td>
                                              <td>{{ e.continent }}</td>
                                              <td>{{ e.government }}</td>
                                              <td>{{ e.population }}</td>
                                              <td>{{ e.currency }}</td>
                                              <td>{{ e.terrain }}</td>
                                              <td><button class="btn btn-sm btn-outline-dark rm1" data-bs-toggle="modal" data-bs-target="#cntNameModal"><i class="far fa-edit"></i></button></td>
                                          </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>   
    
                  </div>
    
                  <!-- Modal -->
                    <div class="modal fade" id="cntNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row p-3 m-3 border border-2">
                                    <div class="col-auto m-1">
                                        <label for="id">Country Id</label>
                                        <input type="number" placeholder="Country Id" class="form-control form-control-number" name="id" [(ngModel)]="cntr.id" #cId>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="capital">Country Capital</label>
                                        <input type="text" placeholder="Capital" class="form-control " name="capital" [(ngModel)]="cntr.capital"  #cap>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="location">Country Continent</label>
                                        <input type="text" placeholder="Continent" class="form-control " name="continent" [(ngModel)]="cntr.continent" #cont>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="government">Country Government</label>
                                        <input type="text" placeholder="Government" class="form-control " name="government" [(ngModel)]="cntr.government" #cGov>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="population">Country Population</label>
                                        <input type="number" placeholder="Population" class="form-control " name="population" [(ngModel)]="cntr.population" #cPop>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="currency">Country Currency</label>
                                        <input type="text" placeholder="Currency" class="form-control " name="currency" [(ngModel)]="cntr.currency" #curr>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="terrain">Country Terrain</label>
                                        <input type="text" placeholder="Terrain" class="form-control " name="terrain" [(ngModel)]="cntr.terrain" #cTer>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    
            </div>
            <!-- search by country name -->

            <!-- search by country terrain -->
            <div class="row">
                <div class="collapse  mt-3" id="cntByTerrain" >            
                       <div class="card card-body" *ngFor="let e of country; index as i; first as isFirst">
                            <button type="button" class="btn btn-secondary m-1" data-bs-toggle="collapse" [attr.href]="'#'+'cterr'+i" role="button" aria-expanded="false" [attr.aria-controls]="'cterr' + i" (click)="showCountry(e)" >{{ e.terrain }}</button>
                            <div class="table-responsive collapse" [id]="'cterr'+i">
                                <table class="table table-bordered">
                                    <thead style="background-color: steelblue; color: white;">
                                        <tr>
                                          <th scope="col">ID</th>
                                          <th scope="col">Name</th>
                                          <th scope="col">Capital</th>
                                          <th scope="col">Continent</th>
                                          <th scope="col">Government</th>
                                          <th scope="col">Population>
                                          <th scope="col">Currency</th>
                                          <th scope="col">Terrain</th>
                                          <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                              <th scope="row">{{ e.id }}</th>
                                              <td>{{ e.name }}</td>
                                              <td>{{ e.capital }}</td>
                                              <td>{{ e.continent }}</td>
                                              <td>{{ e.government }}</td>
                                              <td>{{ e.population }}</td>
                                              <td>{{ e.currency }}</td>
                                              <td>{{ e.terrain }}</td>
                                              <td><button class="btn btn-sm btn-outline-dark rm1" data-bs-toggle="modal" data-bs-target="#cntTerrModal"><i class="far fa-edit"></i></button></td>
                                          </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>   
    
                  </div>
    
                  <!-- Modal -->
                    <div class="modal fade" id="cntTerrModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row p-3 m-3 border border-2">
                                    <div class="col-auto m-1">
                                        <label for="id">Country Id</label>
                                        <input type="number" placeholder="Country Id" class="form-control form-control-number" name="id" [(ngModel)]="cntr.id" #cId>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="name">Country Terrain</label>
                                        <input type="text" placeholder="Terrain" class="form-control " name="name" [(ngModel)]="cntr.name" #cName>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="capital">Country Capital</label>
                                        <input type="text" placeholder="Capital" class="form-control " name="capital" [(ngModel)]="cntr.capital"  #cap>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="location">Country Continent</label>
                                        <input type="text" placeholder="Continent" class="form-control " name="continent" [(ngModel)]="cntr.continent" #cont>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="government">Country Government</label>
                                        <input type="text" placeholder="Government" class="form-control " name="government" [(ngModel)]="cntr.government" #cGov>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="population">Country Population</label>
                                        <input type="number" placeholder="Population" class="form-control " name="population" [(ngModel)]="cntr.population" #cPop>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="currency">Country Currency</label>
                                        <input type="text" placeholder="Currency" class="form-control " name="currency" [(ngModel)]="cntr.currency" #curr>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    
            </div>
            <!-- search by country terrain -->

            <!-- search by company name -->
            <div class="row">
                <div class="collapse  mt-3" id="comByName" >            
                       <div class="card card-body" *ngFor="let e of company; index as i; first as isFirst">
                            <button type="button" class="btn btn-secondary m-1" data-bs-toggle="collapse" [attr.href]="'#'+'cmname'+i" role="button" aria-expanded="false" [attr.aria-controls]="'cmname' + i" (click)="showCompany(e)" >{{ e.name }}</button>
                            <div class="table-responsive collapse" [id]="'cmname'+i">
                                <table class="table table-bordered">
                                    <thead style="background-color: steelblue; color: white;">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Origin</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Revenue</th>
                                            <th scope="col">People</th>
                                            <th scope="col">CEO</th>
                                            <th scope="col">Established</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                                <th scope="row">{{ e.id }}</th>
                                                <td>{{ e.name }}</td>
                                                <td>{{ e.origin }}</td>
                                                <td>{{ e.product }}</td>
                                                <td>{{ e.revenue }}</td>
                                                <td>{{ e.people }}</td>
                                                <td>{{ e.ceo }}</td>
                                                <td>{{ e.established }}</td>
                                              <td><button class="btn btn-sm btn-outline-dark rm1" data-bs-toggle="modal" data-bs-target="#comNameModal"><i class="far fa-edit"></i></button></td>
                                          </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>   
    
                  </div>
    
                  <!-- Modal -->
                    <div class="modal fade" id="comNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row p-3 m-3 border border-2">
                                    <div class="col-auto m-1">
                                        <label for="id">Company Id</label>
                                        <input type="number" placeholder="Company Id" class="form-control form-control-number" name="id" [(ngModel)]="comp.id" #cmId>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="origin">Company Origin</label>
                                        <input type="text" placeholder="Company origin" class="form-control" name="origin" [(ngModel)]="comp.origin" #cmOrg>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="product">Company Product</label>
                                        <input type="text" placeholder="Product" class="form-control" name="product" [(ngModel)]="comp.product" #cmProd>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="revenue">Company Revenue</label>
                                        <input type="number" placeholder="Revenue" class="form-control form-control-number" name="revenue" [(ngModel)]="comp.revenue" #cmRev>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="people">Company People</label>
                                        <input type="number" placeholder="People" class="form-control form-control-number" name="people" [(ngModel)]="comp.people" #cmPeo>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="ceo">Company CEO</label>
                                        <input type="text" placeholder="CEO" class="form-control" name="ceo" [(ngModel)]="comp.ceo" #cmCeo>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="established">Company Established</label>
                                        <input type="number" placeholder="Established" class="form-control form-control-number" name="established" [(ngModel)]="comp.established" #cmEst>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    
            </div>
            <!-- search by company name -->

            <!-- search by company product -->
            <div class="row">
                <div class="collapse  mt-3" id="comByProd" >            
                       <div class="card card-body" *ngFor="let e of company; index as i; first as isFirst">
                            <button type="button" class="btn btn-secondary m-1" data-bs-toggle="collapse" [attr.href]="'#'+'cmprod'+i" role="button" aria-expanded="false" [attr.aria-controls]="'cmprod' + i" (click)="showCompany(e)" >{{ e.product }}</button>
                            <div class="table-responsive collapse" [id]="'cmprod'+i">
                                <table class="table table-bordered">
                                    <thead style="background-color: steelblue; color: white;">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Origin</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Revenue</th>
                                            <th scope="col">People</th>
                                            <th scope="col">CEO</th>
                                            <th scope="col">Established</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr>
                                                <th scope="row">{{ e.id }}</th>
                                                <td>{{ e.name }}</td>
                                                <td>{{ e.origin }}</td>
                                                <td>{{ e.product }}</td>
                                                <td>{{ e.revenue }}</td>
                                                <td>{{ e.people }}</td>
                                                <td>{{ e.ceo }}</td>
                                                <td>{{ e.established }}</td>
                                              <td><button class="btn btn-sm btn-outline-dark rm1" data-bs-toggle="modal" data-bs-target="#comProdModal"><i class="far fa-edit"></i></button></td>
                                          </tr>
                                      </tbody>
                                </table>
                            </div>
                        </div>   
    
                  </div>
    
                  <!-- Modal -->
                    <div class="modal fade" id="comProdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="row p-3 m-3 border border-2">
                                    <div class="col-auto m-1">
                                        <label for="id">Company Id</label>
                                        <input type="number" placeholder="Company Id" class="form-control form-control-number" name="id" [(ngModel)]="comp.id" #cmId>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="name">Company Name</label>
                                        <input type="text" placeholder="Company Name" class="form-control" name="name" [(ngModel)]="comp.name" #cmName>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="origin">Company Origin</label>
                                        <input type="text" placeholder="Company origin" class="form-control" name="origin" [(ngModel)]="comp.origin" #cmOrg>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="revenue">Company Revenue</label>
                                        <input type="number" placeholder="Revenue" class="form-control form-control-number" name="revenue" [(ngModel)]="comp.revenue" #cmRev>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="people">Company People</label>
                                        <input type="number" placeholder="People" class="form-control form-control-number" name="people" [(ngModel)]="comp.people" #cmPeo>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="ceo">Company CEO</label>
                                        <input type="text" placeholder="CEO" class="form-control" name="ceo" [(ngModel)]="comp.ceo" #cmCeo>
                                    </div>
                                    <div class="col-auto m-1">
                                        <label for="established">Company Established</label>
                                        <input type="number" placeholder="Established" class="form-control form-control-number" name="established" [(ngModel)]="comp.established" #cmEst>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Save changes</button>
                            </div>
                        </div>
                        </div>
                    </div>
    
                    
            </div>
            <!-- search by company product -->
        </div>
        
    </div>
</div>
    
