/* You can add global styles to this file, and also import other style files */

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px;
}

.headerImg {
    width: 200px;
    height: auto;
    align-content: center;
}

button.rm1 {
    max-width: 40px;
    max-height: 38px;
    margin: auto;
    padding: auto;
}

.filler {
    max-width: 40px;
    max-height: 38px;
    margin: 0;
    padding: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

form>div {
    margin: 5px;
}

